.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .grid {
  width: 50vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  border: solid 1px #000;
} */

.gameRow {
  height: 60px;
  display: flex;
  flex-direction: row;
}

.gameSquare {
  width: 62px;
  height: 62px;
  border: solid 0.5px whitesmoke;
}
.gameSquare:hover {
  border: solid 0.5px lightgoldenrodyellow;
}

.tile {
  width: 40px;
  height: 40px;
  position: relative;
  border: solid 1px rgb(90, 65, 42);
  border-radius: 10px;
  color: white;
  background-color: rgb(155, 87, 42);
  font-size: 25px;
  margin: 0 0.25px 0 0.25px;
}
.tile:hover {
  background-color: rgb(180, 112, 67);
  transition: 0.15s ease-in-out;
}

.dragging {
  width: 100px;
  height: 100px;
  border: solid 1px rgb(90, 65, 42);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(155, 87, 42);
  font-size: 25px;
  margin: 0 0.25px 0 0.25px;
}

.playerTiles {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* .letters {
  display: inherit;
  flex-direction: row;
  align-items: flex-end;
} */
/* 
.gamefield {
  height: 80vh;
  width: 80vw;
  background-color: white;

} */
