.room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .grid {
  width: 50vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  border: solid 1px #000;
} */

/* .gameBoard {
  width: 70vw;
  height: 70vh;
  background-color: white;
} */

.gameRow {
  height: 60px;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.gameSquare {
  width: 62px;
  height: 62px;
  border: 1px dotted lightgrey;
}

.tile {
  width: 60px;
  height: 60px;
  border: solid 1px rgb(90, 65, 42);
  border-radius: 10px;
  color: white;
  background-color: rgb(155, 87, 42);
  font-size: 25px;
  margin: 0 0.25px 0 0.25px;
}

.dragging {
  user-select: none;
  width: 10px;
  height: 10px;
  border: solid 1px rgb(90, 65, 42);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(155, 87, 42);
  font-size: 25px;
  margin: 0 0.25px 0 0.25px;
}

.playerTiles {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

/* .letters {
  display: inherit;
  flex-direction: row;
  align-items: flex-end;
} */
/* 
.gamefield {
  height: 80vh;
  width: 80vw;
  background-color: white;

} */
